.backGround-image {
  background-image: url(../../assets/home/featured.jpg);
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); 
  background-blend-mode: overlay; 
  padding-top: 70px;
  padding-bottom: 50px;
  height: auto;
  width: 100%;
  background-position: center;
  background-size: cover; 
}
